body{
    background-color: black;
}
.infobox{
    background-color: rgb(1, 10, 14);
    width: 280px;
    height: 800px;
    float: left;
}
.infobox2{
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 800px;
    float: left;
}

.profielfoto{
    margin-left: 20px;
    margin-top: 20px;
}
.tekstblok{
    /* border: 1px solid white; */
    width: 240px;
    height: 400px;
    margin-left: 10%;
    margin-top: 10%;
    color: white;
}
.main{
    /* border: 1px solid black; */
    width: 81%;
    height: 800px;
    float: left;
    background-image: url("../../assets/images/foto_persoon.jpg");
    background-repeat: no-repeat;
}
.button_gegevens{
    margin-left: 200px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-top: 20px;
}
    
.maintext{
    color: white;
    font-size: 70px;
    margin-top: 200px;
    margin-left: 200px;
    height: 100px;
}
.social-footer{
    height: 60px;
    width: 100%;
    border: 1px solid white;
    margin-top: 300px;
}
.button_verbergen{
    margin-left: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-top: 140px;
}