body{
    margin: 0;
}
.section1{
    background-image: url("../../assets/images/homepage1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.section1-titel{
    color: rgb(0, 0, 0);
    margin-left: 200px;
    margin-top: 240px;
    font-size: 70px;
}
.section1-tekst{
    color: rgb(0, 0, 0);
    margin-left: 200px;
    margin-top: 100px;
    font-size: 30px;
}
.section2{
    background-color: rgb(2, 2, 2);
    height: 400px;

}
.section3{
    background-color: rgb(255, 255, 255);
    height: 700px;
}


.image-container{
    margin-left: 15%;
    margin-top: 150px;
}
div.gallery {
    margin: 5px;
    float: left;
    width: 250px;
    margin-left: 70px;
  } 
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
  }
.section3_text{
    float: left;
    width: 400px;
    margin-top: -100px;
}