.product{
    /* border: 1px solid black; */
    width: 250px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    float: left;
}
.imageblok{
    width: 150px;
    height: 200px;
    /* border: solid 1px black; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}