body{
    background-color: black;
}
.card_container{
    width: 100%;
    height: 800px;
}
.text_winkelmand{
    border: 1px solid white; 
    height: 800px;
    background-color: white;
}
.title_card{
    color: rgb(3, 3, 3);
    text-align: center;
}
.product_card{
    color: white;
}
.teller-blok{
    width: 40%;
    height: 500px;
    border: solid 1px black;
    float: left;
    margin-left: 150px;
}
.blok2-card{
    width: 40%;
    height: 500px;
    border: solid 1px black;
    float: left;
    padding-left: 40px;
}
.blok2-card2{
    width: 40%;
    height: 500px;
    border: solid 1px black;
    float: left;
    padding-left: 40px;
}
.producten_title{
    text-align: center;
}
.gegevens_title{
    text-align: center;

}
.prijs_title{
    

}
.togglebutton_card{
    width: 107%;
    height: 60px;
    background-color: rgb(3, 68, 32);
    color: white;
    margin-left: -40px;
    margin-bottom: 0;
}