.footer{
    width: 100%;
    height: 500px;
    background-color: rgb(3, 8, 24);
    clear: both;
    position: relative;
}
.footer-tekst{
    color: white;
    /* border: 1px solid white; */
    width: 400px;
    height: 200px;
    float: left;
    margin-left: 80px;
    margin-top: 100px;
}

.social-footer{
    height: 150px;
    width: 350px;
    margin-top: 330px;
    margin-left: 36%;
    border: none;
}

.newsletter-footer{
    width: 300px;
    height: 50px;
    float: left;
}
.send-button-footer{
    width: 90px;
    height: 55px;
    float: left;
    background-color: rgb(6, 109, 24);
}
.socialmedia-text{
    color: white;
    text-align: center;
    margin-top: 200px;
}